TitleColor = #4c4c4c

//Place content in aside holder
div.aside-holder
  display flex
  flex-wrap wrap
  //Make for buttom
  &>div.flexmode
    display flex
    width 100%
    flex-wrap wrap
  //Place content -- BIG screens => row
  @media screen and (min-width 901px)
    aside.who-am-i
    aside.recent-posts
    footer
      width 100%
  //For mobile
  @media screen and (max-width 900px)
    aside.recent-posts
      width 100%
    aside.who-am-i
    footer
      width 47.5%
      &:last-child
        margin-left 5%
  @media screen and (max-width 600px)
    aside.who-am-i
    aside.recent-posts
    footer
      width 100%
//Design the who-am-i
aside.who-am-i
  h2
    color TitleColor
    border 1px solid TitleColor
    margin 0px
    margin-bottom 10px
    padding 7px
    text-align center
    font-size .85em
  img
    display block
    max-width 100%
    height auto
  p
    color TitleColor
    margin-top 2px
    margin-bottom 0px

aside.recent-posts
  padding-bottom 30px
  span#recent-title
    display block
    color: #4c4c4c;
    border: 1px solid #4c4c4c;
    margin: 0;
    margin-bottom: 10px;
    padding: 7px;
    text-align: center;
    font-size: .85em;
    font-weight bold
aside.recent-posts>div.recent-item
  display grid
  grid-template-columns 1fr 2fr
  margin-bottom: 10px;
  border-top: 1px solid #dfdfdf;
  padding-top: 10px;
  &:last-child
    margin-bottom 0px
  &:nth-child(2)
    border none !important
  img
    max-width 100%
    height auto
  h1
    margin 0px
    padding-left 10px
    line-height 1em
    @media screen and (min-width 500px)
      font-size 1.4em
    @media screen and (max-width 500px)
      font-size 1.1em
    @media screen and (min-width 901px)
      font-size 1em;
    a
      text-decoration none
      color #4c4c4c
    a:hover
      color #3489c1


//Style footer
footer
  width 100%
  background #3a3a3a
  padding 10px
  .direct-footer-item
    display block
    width @width
    color #e0e0e0
    text-align right
    margin-bottom 10px
