//out: ../listonly.css, compress:true

//Style the special cases
div.post-list-item:first-child
  border-top none
  padding-top 5px

//Style the general posts
div.post-list-item
  display grid
  padding 30px 0px
  border-top 1px solid #d6d6d6
  grid-template-columns 40% 60%
  //Style the image holder div
  div.imageholder
    justify-self end
    //Style the img -- set max width
    &>div
      position relative
      overflow hidden
      &>img
        display block
        position relative
        z-index 2
        max-width 100%
        height auto
      &>a
        display block
        position absolute
        z-index 5
        width 100%
        height 100%
        line-height 100%
        left 0px
        top 0px
        transition opacity .615s cubic-bezier(0.19, 1, 0.22, 1)
        color transparent
        background rgba(0,0,0,0.65)
        opacity 0
      &>span
        position absolute
        left 0
        bottom -100%
        color white
        z-index 10
        height 100%
        width 100%
        text-align center
        display block
        padding-top 24%
        text-transform uppercase
        pointer-events none
        transition bottom .615s cubic-bezier(0.19, 1, 0.22, 1)

  //On hover the image
  div.imageholder>div:hover
    span
      bottom 0px
    a
      opacity 1


  //Style the content
  div.contentholder
    padding-left 15px
    //Style the title
    a>h1
      margin-top 0px
      margin-bottom 12px
      text-decoration none
      color #4c4c4c
      transition color .1s ease
      font-size 1.32em
      line-height 1.1
      &:hover
        color #3489c1
    //Style the paragraph
    p
      margin-top 8px
      margin-bottom 0px
      font-size 0.95em
      color #3e3e3e
    //Style read more button
    a.weiterlesen
      display inline-block
      color #00609a

  // ---- Style for mobile -----
  @media screen and (max-width 630px)
    grid-template-columns 1fr
    div.contentholder
      padding-left 0px
      h1
        margin-top 20px !important
    div.imageholder
      width 100%
      img
        width @width

//Style the back-forth-buttons
#back-forth-holder
  border-top 1px solid #d6d6d6
  margin auto
  text-align center
  padding-top 25px
  a
    padding 7px 10px
    margin-left 10px
    color white
    background #373737
    border-radius 2px

//Disable recent posts
aside.recent-posts.ontop
  display none
