//out: ../singleonly.css, compress:true

//Disable readprocess
#readprocess
#readprocess>div
  display block !important

//Remove the space of first text thing
div#main-content>*:first-child
  margin-top 0px

//Doing text stuff
div#main-content
  color hsl(0,0%,34%)
  //Get some space
  @media screen and (min-width 630px)
    padding-left 30px
    padding-right @padding-left
  img
    max-width 100%
    height auto
  //Style the blockquotes
  blockquote
    margin: 1.5em 0;
    border-top 1px solid rgba(0,0,0,0.2);
    border-bottom @border-top
    padding 0;
    font-size: 1.1em;
    line-height: 1.6;
    color #272727
  a
    color red
    text-decoration none
  a:hover
    text-decoration underline
  h1, h2, h3, h4, h5, h6
    color #272727
  hr
    border none
    background rgba(0,0,0,0.2)
    height 2px
